.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th, .cart-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
}

.quantity-controls button:hover {
    background-color: #45a049;
}

.btn-remove {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-remove:hover {
    background-color: #d32f2f;
}

.cart-summary {
    display: flex;
    justify-content: center;
}

.btn-checkout {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-checkout:hover {
    background-color: #007bb5;
}

.cart-total {
    text-align: right; /* Alignement à droite */
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}
