/* Centrage de la table */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Table commandes */
.order-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
    background-color: #000000;
    border: 1px solid #dee2e6;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Espacer chaque ligne de commande */
.order-row {
    border-bottom: 3px solid #f1f1f1;
    margin-bottom: 15px;
    background-color: #fdfdfd;
}

/* En-tête de la table */
.table thead th {
    font-weight: bold;
    font-size: 1.1em;
    padding: 15px;
    background-color: #f8f9fa;
}

/* Espacement entre les lignes */
.table tbody td {
    padding: 45px;
    vertical-align: middle;
}

/* Amélioration de l'affichage des produits commandés */
ul.list-unstyled {
    padding-left: 0;
    margin-bottom: 0;
}

ul.list-unstyled li {
    font-size: 0.9em;
    margin-bottom: 5px;
}

/* Badge de status */
.badge {
    font-size: 0.9em;
    padding: 10px;
    font-weight: 600;
    background-color: #28a745;
    color: white;
}

/* Espacer davantage entre les commandes */
.order-row + .order-row {
    margin-top: 20px;
    border-top: 3px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
