.tattoos-container {
    padding: 20px;
    display: flex;
    flex-direction: column; /* Disposer les éléments en colonne */
    align-items: center; /* Centrer les éléments horizontalement */
}

.tattoos-container h1 {
    margin-bottom: 20px; /* Ajouter un espacement en bas du titre */
    text-align: center; /* Centrer le titre */
    width: 100%; /* S'assurer que le titre prend toute la largeur disponible */
}

.search-bar {
    margin-bottom: 20px;
    text-align: center;
}

.search-bar form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-bar input[type="text"] {
    padding: 8px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bar button {
    padding: 8px 15px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #5e5e5e;
}

.tattoo-feed {
    display: grid;
    grid-template-columns: repeat(4, 250px); /* 4 colonnes de largeur fixe */
    gap: 20px;
    justify-content: center; /* Centre la grille */
}

.tattoo-item {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tattoo-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.tattoo-info {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.like input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  

  .like {
    display: inline-flex; /* Change le display pour ne prendre que l'espace de l'icône */
    cursor: pointer;
    transition: 100ms;
    font-size: 20px;
}
  
  .checkmark {
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
    fill: black;
  }

  /* Icône de like par défaut avec contour noir et remplissage transparent */
.checkmark path {
    fill: none; /* Pas de remplissage */
    stroke: rgb(137, 137, 137); /* Contour noir */
    stroke-width: 15; /* Épaisseur du contour */
}
  
  .like input:checked ~ .checkmark path {
    fill: #FF5353;
    stroke-width: 0;
  }
  
  .like input:checked ~ .checkmark {
    animation: like_effect 400ms ease;
  }
  
  .container:hover {
    transform: scale(1.1);
  }
  
  @keyframes like_effect {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes dislike_effect {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }